<div class="footer">
    <div class="page-container footer-container">
        <div class="footer-cities">
            <div class="footer-city">
                {# <a href="{% url 'property_list' %}?city=Delhi">R in Delhi</a> #}
                <a href="#">Delhi Restuarants</a>
            </div>
            <div class="footer-city">
                {# <a href="{% url 'property_list' %}?city=Mumbai">P in Mumbai</a> #}
                <a href="#">Mumbai Restuarants</a>
            </div>
            <div class="footer-city">
                <a href="#">Bangalore Restuarants</a>
                {# <!-- <a href="{% url 'property_list' %}?city=Bengaluru">Bangalore</a> --> #}
            </div>
            <div class="footer-city">
                <a href="#">Chennai Restuarants</a>
                {# <a href="{% url 'property_list' %}?city=Hyderabad">R in Hyderabad</a> #}
            </div>
        </div>
        <div class="footer-copyright">© 2024 Copyright OFOS </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>